

body{
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
}

h2{
  @apply text-3xl font-bold mt-4 mb-4;
}

h3{
  @apply text-lg font-bold;

  @screen md{
    @apply text-xl;
  }
}

.default-layout{
  @apply w-full mx-auto mt-24 px-4 lg:container lg:mt-32
}

.default-layout-w-sidebar{
  @apply relative mx-auto flex justify-between sm:px-2 md:px-4 lg:px-0 xl:px-16 2xl:px-44;
}

.nuxt-link-active{
  @apply font-bold
}

.cards-grid{
  @apply grid gap-8
}

.svg-icon{
  min-width: 24px;
  width: 24px;
}

.cta{
  @apply p-2 mt-4 text-white font-bold;
  background-color: #31aabb;
}
